body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(16, 1, 26);
    color: white;
}

h1 {
    text-align: left;
    color: rgb(255, 166, 0);
    
    margin-bottom: 0;
}

a {
    font-size: 10pt;
    color: yellow;
}

h2 {
    margin-bottom: 0;
}

div#main {
    display: flex;
    align-items: center;
}

div#main, iframe {
    margin-left: 150px;
}

q {
    display: block;
    margin-bottom: 20px;
}
