* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(28, 3, 45);
    color: white;
}

.nav-bar ul {
    background-color: rgb(20, 2, 31);
    list-style: none;

    padding: 20px;
    font-size: 30pt;
    font-family: fantasy;
}

.nav-bar ul li {
    display: inline;
    position: relative;
   
}

.nav-bar ul li a {
    display: inline-block;

    text-decoration: none;
    color: rgb(255, 207, 14);
    padding: 5px;
    font-size: 20pt;
    
}

.nav-bar ul li a:hover {
    background-color: rgba(198, 92, 11, 0.79);
}

.nav-bar ul ul {
    display: none;
    position: absolute;
}

.nav-bar ul li:hover ul {
    display: block;
    box-shadow: 2px 2px 2px black;
    left: 0;
    
}

.nav-bar ul ul a {
    display: block;
}

.nav-bar ul ul li a {
    width: 150px;
}

